/*  your css code here. If applicable */
.background{
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
}

h1,h2{
    text-align: center;
}
body{
    background-color: rgb(204, 204, 204);
}
ul{
    list-style-type: none;
}
a{
    text-decoration-line: none;
	color: black;
}